$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: 'Lato', sans-serif;

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1600px;

$c-primario: #1073ba;
$c-secundario: #00da55;
$gris: #3b3b3b;
$gris-claro: #e1e1e1;
$blanco: #ffffff;
$negro: #1f1e1e;
